@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/poppins-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/poppins-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/poppins-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
