.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    360deg,
    rgba(188, 218, 174, 1) 25%,
    rgba(246, 246, 247, 1) 92%
  );
  padding-top: 166px;
  padding-bottom: 166px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 8px;
  background: #151515;
  padding: 24px;
  position: relative;
  min-width: 300px;
}

.logo_icon {
  stroke: white;
  position: absolute;
  top: 18px;
  right: 18px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--color-dark-text-primary);
  margin-bottom: 24px;
}

.blockinfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-width: 257px;
  height: 49px;
  background: #bedbb0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}

.input_email {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  min-width: 257px;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: #1f1f1f;
  opacity: 0.4;
  color: #fff;
  padding: 14px 18px;
}

.input_password {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  min-width: 257px;
  height: 120px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: #1f1f1f;
  opacity: 0.4;
  color: #fff;
  padding: 14px 18px;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.error {
  color: #f14c4c;
  font-size: 12px;
}

@media (min-width: 768px) {
  .form {
    width: 400px;
    padding: 24px;
  }

  .input {
    width: 352px;
  }
  .btn {
    width: 352px;
  }
}
