.infoText {
  width: 197px;
  font-weight: lighter;
  font-size: 14px;
}

.infoText.dark {
  color: var(--color-info-text-dark);
}

.infoText.light {
  color: var(--color-info-text-light);
}

.infoText.violet {
  color: var(--color-info-text-violet);
}

.container {
  width: 197px;
  height: 272px;
  padding: 15px;
  border-radius: 15px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.container.dark {
  background-color: #1f1f1f;
}

.container.light {
  background-color: #f6f6f7;
}

.container.violet {
  background-color: var(--bg-color-container-violet);
}

.help {

  fill: transparent;
}

.help.dark {
  stroke: var(--stroke-icon-help-dark);
}

.help.light {
  stroke: var(--stroke-icon-help-light);
}

.help.violet {
  stroke: var(--stroke-icon-help-violet);
}

.help.dark {
  color: var(--color-icon-help-dark);
}

.help.light {
  color: var(--color-icon-help-light);
}

.help.violet {
  color: var(--color-icon-help-violet);
}

.helpCont {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  background-color: transparent;
  padding: 0;
}

.helpCont:hover .helpText,
.helpCont:hover .help {
  color: #bedbb0;
  stroke: #bedbb0;
}

.helpText {
  font-size: 12px;
}

.helpText.dark {
  color: var(--color-text-help-dark);
}

.helpText.light {
  color: var(--color-text-help-light);
}

.helpText.violet {
  color: var(--color-text-help-violet);
}

.perfectTask.dark {
  color: var(--color-perfect-task-dark);
}

.perfectTask.light {
  color: var(--color-perfect-task-light);
}

.perfectTask.violet {
  color: var(--color-perfect-task-violet);
}

.logoIcon {
  background-image: url('../../../assets/imageNeedHelp.svg');
  background-size: contain;
  width: 54px;
  height: 78px;
  margin-bottom: 14px;
}

/* модалка */
.ReactModal__Content {
  position: absolute;
  inset: 50% auto auto 50%;
  overflow: auto;
  outline: none;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.ReactModal__Content--after-open {
  position: absolute;
  inset: 50% auto auto 50%;
  /* border: 1px solid rgb(204, 204, 204); */
  /* background: rgb(255, 255, 255); */
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 20px;
  transform: translate(-50%, -50%);
  /* width: 400px; */
}

@media only screen and (min-width: 768px) {
  .infoText {
    width: 212px;
  }
  .container {
    width: 212px;
    padding: 20px;
    margin-left: 24px;
  }
}
