.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 14px;
  padding-left: 14px;
}

.logoCont {
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
}

.logoCont.dark {
  background-color: var(--color-dark-primary);
}
.logoCont.light {
  background-color: var(--color-dark-primary);
}
.logoCont.violet {
  background-color: #ecedfd;
}

.logoIcon.dark {
  background-color: #1f1f1f;
  stroke: #ffffff;
  fill: #ffffff;
}
.logoIcon.light {
  background-color: #1f1f1f;
  stroke: #ffffff;
  fill: #ffffff;
}
.logoIcon.violet {
  background-color: var(--background-header-viole);
  stroke: var(--background-sidebar-violet);
  fill: var(--background-sidebar-violet);
}

.logoTitle {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.logoTitle.light {
  color: var(--color-dark-primary);
}

@media only screen and (min-width: 768px) {
    .logo {
        padding-top: 24px;
        padding-left: 24px;
    }
}