.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 24px;
    padding-top: 24px;
}

.logoCont {
    width: 32px;
    height: 32px;
    background-color: #1F1F1F;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
}

.logoIcon {
    background-color: #1F1F1F;
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.logoTitle {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}
