.user {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-dark-btn);
  height: 32px;
  cursor: pointer;
}

.user.dark {
  background-color: var(--color-dark-primary);
}


.user_name {
  /* color: var(--color-dark-text-primary); */
}

.user_name.dark {
  color: (var(--text-color-light));
  background-color: var(--color-dark-primary);
}

.user_name.light {
  color: var(--text-color-light);
  background-color: var(--color-light-primary);
}

.user_name.violet {
  color: var(--text-color-light);
  background-color: var(--color-light-primary);
}

.user_avatar {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}