.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.dropbtn.dark {
  background-color: var(--color-dark-primary);
  color: var(--text-color-dark);
}

.dropbtn.light {
  color: var(--text-color-light);
}

.dropbtn.violet {
  color: var(--text-color-violet);
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100px;
    height: 107px;
    color: transparent;
}

.dropdownContent.dark {
    background-color: var(--background-header-dark);
    color: var(--text-color-dark);
}

.dropdownContent.light {
  background-color: var(--background-header-light);
  color: var(--text-color-light);
}

.dropdownContent.violet {
  background-color: var(--background-header-violet);
  color: var(--text-color-violet);
}

.arrow {
    margin-left: 8px;
}

.arrow.dark {
    color: var(--arrow-color-dark);
}

.arrow.light {
    color: var(--arrow-color-light);
}

.arrow.violet {
    color: var(--arrow-color-violet);
}

.dropdownContentButton {
    background-color: transparent;
    color: inherit;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border: none;
}

.dropdownContentButton {
    background-color: transparent;
    color: inherit;
}

.dropdownContentButton.dark {
  background-color: var(--background-header-dark);
  color: var(--text-color-dark);
}

.dropdownContentButton.light {
  background-color: var(--background-header-light);
  color: var(--text-color-light);
}

.dropdownContentButton.violet {
  background-color: var(--background-header-violet);
  color: var(--text-color-violet);
}

.dropdownContentButton:focus {
    color: rgba(190, 219, 176, 1);
    outline: none;
}

.dropdownContentButton:hover {
    color: rgba(190, 219, 176, 1);
    outline: none;
}


@media (min-width: 600px) {
    .dropbtn {
        font-size: 14px;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .dropbtn {
        font-size: 16px;
    }
}