.create {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  border-top: 0.5px solid #ffffff38;
  border-bottom: 0.5px solid #ffffff38;
  width: 197px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.buttonTitle {
  font-size: 14px;
  font-weight: bolder;
  width: 80px;
  text-align: start;
  color: #ffffff;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bedbb0;
  border-radius: 8px;
}

.iconPlus {
  background-color: #bedbb0;
  stroke: #121212;
  fill: #121212;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .create {
    width: 212px;
  }
}