.form {
  border-radius: 8px;
  background: #151515;
  padding: 24px;
  position: relative;
  min-width: 300px;
  cursor: pointer;
}

.logo_icon {
  stroke: white;
  position: absolute;
  top: 18px;
  right: 18px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--color-dark-text-primary);
  margin-bottom: 24px;
}

.avatar {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.user_avatar {
  width: 68px;
  height: 68px;
  border-radius: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: var(--color-dark-btn);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -12px;
}

.plus_icon {
  stroke: black;
}

.blockinfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-width: 257px;
  height: 49px;
  background: #bedbb0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}

.input {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  min-width: 257px;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: #1f1f1f;
  opacity: 0.4;
  color: #fff;
  padding: 14px 18px;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.error {
  color: #f14c4c;
  font-size: 12px;
}

@media (min-width: 768px) {
  .form {
    width: 400px;
    padding: 24px;
  }

  .input {
    width: 352px;
  }
  .btn {
    width: 352px;
  }
}

/* стилі для div та svg приховування паролю */
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding-right: 15px;
}

.plus_icon_1 {
  position: absolute;
  right: 10px;
  cursor: pointer;
  stroke: var(--color-label-without);
}

.ReactModal__Content {
  position: absolute;
  inset: 50% auto auto 50%;
  overflow: auto;
  outline: none;
  transform: translate(-50%, -50%);
  width: 300px !important;
}

.ReactModal__Content--after-open {
  position: absolute;
  inset: 50% auto auto 50%;
  overflow: auto;
  outline: none;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .ReactModal__Content {
    width: 400px !important; /* Ширина для великих екранів */
  }
}
