.form {
  border-radius: 8px;
  padding: 24px;
  position: relative;
  min-width: 300px;
  cursor: pointer;
}

.form.dark {
  background: var(--background-form-dark);
}

.form.light {
  background: var(--background-form-light);
}

.form.violet {
  background: var(--background-form-violet);
}

.logo_icon {
  position: absolute;
  top: 18px;
  right: 18px;
}

.logo_icon.dark {
  stroke: var(--color-dark-stroke);
}

.logo_icon.light {
  stroke: var(--color-icon-close-light);
}

.logo_icon.violet {
  stroke: var(--color-icon-close-violet);
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.title.dark {
  color: var(--color-title-form-dark);
}

.title.light {
  color: var(--color-title-form-light);
}

.title.violet {
  color: var(--color-title-form-violet);
}

.avatar {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.user_avatar {
  width: 68px;
  height: 68px;
  border-radius: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -12px;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.dark {
  background-color: var(--color-btn-dark);
}

.icon.dark:hover {
  transform: background-color;
  background-color: var(--color-btn-hover-dark);
}

.icon.light {
  background-color: var(--color-btn-light);
}

.icon.light:hover {
  transform: background-color;
  background-color: var(--color-dark-btn-hover);
}

.icon.violet {
  background-color: var(--background-color-user-plus-light);
}

.icon.violet:hover {
  transform: background-color;
  background-color: var(--color-violet-btn-board-hover);
}

.plus_icon.dark {
  stroke: var(--color-icon-plus-dark);
}

.plus_icon.light {
  stroke: var(--color-icon-plus-light);
}

.plus_icon.violet {
  stroke: var(--color-icon-plus-violet);
}

.blockinfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-width: 257px;
  height: 49px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.dark {
  background: var(--color-btn-dark);
  color: var(--color-btn-text-dark);
}

.btn.dark:hover {
  transform: background;
  background: var(--color-btn-hover-dark);
  color: var(--color-btn-text-dark);
}

.btn.light {
  background: var(--color-btn-light);
  color: var(--color-btn-text-light);
}

.btn.light:hover {
  transform: background;
  background: var(--color-btn-hover-light);
  color: var(--color-btn-text-light);
}

.btn.violet {
  background: var(--color-violet-btn);
  color: var(--color-btn-text-violet);
}

.btn.violet:hover {
  transform: background;
  background: var(--color-violet-btn-hover);
  color: var(--color-btn-text-violet);
}

.input {
  border-radius: 8px;
  min-width: 257px;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  padding: 14px 18px;
}

.input.dark {
  color: var(--color-input-text-dark);
  background-color: var(--bg-color-input-dark);
  border: 1px solid var(--color-input-accent-dark);
}

.input.light {
  color: var(--color-input-text-light);
  background-color: var(--bg-color-input-light);
  border: 1px solid var(--color-input-accent-light);
}

.input.violet {
  color: var(--color-input-text-violet);
  background-color: var(--bg-color-input-violet);
  border: 1px solid var(--color-inpur-accent-violet);
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.input::placeholder.dark {
  color: var(--color-input-placeholder-dark);
}

.input::placeholder.light {
  color: var(--color-input-placeholder-dark);
}

.input::placeholder.violet {
  color: var(--color-input-placeholder-violet);
}

.error {
  color: #f14c4c;
  font-size: 12px;
}

@media (min-width: 768px) {
  .form {
    width: 400px;
    padding: 24px;
  }

  .input {
    width: 352px;
  }
  .btn {
    width: 352px;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding-right: 15px;
}

.plus_icon_1 {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.plus_icon_1.dark {
  stroke: var(--color-icon-password-dark);
}

.plus_icon_1.light {
  fill: var(--fill-password-light);
  stroke: var(--color-icon-password-light);
}

.plus_icon_1.violet {
  fill: var(--fill-password-violet);
  stroke: var(--color-icon-password-violet);
}

.ReactModal__Content {
  position: absolute;
  inset: 50% auto auto 50%;
  overflow: auto;
  outline: none;
  transform: translate(-50%, -50%);
  width: 300px !important;
}

.ReactModal__Content--after-open {
  position: absolute;
  inset: 50% auto auto 50%;
  overflow: auto;
  outline: none;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .ReactModal__Content {
    width: 400px !important;
  }
}
