.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  width: 300px;
}

.modal.dark {
  background-color: var(--background-form-dark);
}

.modal.light {
  background: var(--background-form-light);
}

.modal.violet {
  background: var(--background-form-violet);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.filterModal {
  max-width: 600px;
  margin: auto;
}

.filterModalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.filterModalTitle.dark {
  color: var(--color-title-form-dark);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.filterModalTitle.light {
  color: var(--color-title-form-light);
  border-bottom: 1px solid rgba(22, 22, 22, 0.2);
}

.filterModalTitle.violet {
  color: var(--color-title-form-violet);
  border-bottom: 1px solid rgba(22, 22, 22, 0.2);
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.label {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
}

.label.dark {
  color: var(--color-title-form-dark);
}

.label.light {
  color: var(--color-title-form-light);
}

.label.violet {
  color: var(--color-title-form-violet);
}

.filterName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filterOption {
  margin-bottom: 10px;
  color: var(--color-dark-text-secondary-50);
  font-size: 12px;
}

.showAll {
  text-decoration: underline;
  cursor: pointer;
  font-weight: var(--font-weight-regular);
  font-size: 12px;
}

.showAll.dark {
  color: var(--color-dark-text-secondary-50);
}

.showAll.light {
  color: var(--color-light-text-secondary-70);
}

.showAll.violet {
  color: var(--color-light-text-secondary-70);
}

.icon {
  position: absolute;
  top: 18px;
  right: 18px;
}

.icon.dark {
  stroke: var(--color-icon-close-dark);
}

.icon.light {
  stroke: var(--color-icon-close-light);
}

.icon.violet {
  stroke: var(--color-icon-close-violet);
}

.input[type='radio'] {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.checkboxLabel.dark {
  color: var(--color-dark-text-secondary-50);
}
.checkboxLabel.light {
  color: var(--color-light-text-secondary-70);
}
.checkboxLabel.violet {
  color: var(--color-light-text-secondary-70);
}

.checkboxLabelWithout {
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-bottom: 5px;
}

.input[type='radio'] + .checkboxLabelWithout:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid #4d4d4d;
  border-radius: 50%;
  background-color: #4d4d4d;
}

.input[type='radio']:checked + .checkboxLabelWithout:before {
  background-color: var(--background-form-dark);
  border-color: #4d4d4d;
  color: red;
}

.input[type='radio']:checked + .checkboxLabelWithout:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4d4d4d;
}

.input[type='radio']:checked + .checkboxLabelWithout {
  color: white;
  font-size: 12px;
}
.input[type='radio']:checked + .checkboxLabelWithout.dark {
  color: var(--color-title-form-dark);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelWithout.light {
  color: var(--color-dark-primary);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelWithout.violet {
  color: var(--color-dark-primary);
  font-size: 12px;
}
.checkboxLabelLow {
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-bottom: 5px;
}

.input[type='radio'] + .checkboxLabelLow:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-label-low);
  border-radius: 50%;
  background-color: var(--color-label-low);
}

.input[type='radio']:checked + .checkboxLabelLow:before {
  background-color: var(--background-form-dark);
  border-color: var(--color-label-low);
}

.input[type='radio']:checked + .checkboxLabelLow:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-label-low);
}

.input[type='radio']:checked + .checkboxLabelLow {
  color: white;
  font-size: 12px;
}
.input[type='radio']:checked + .checkboxLabelLow.dark {
  color: var(--color-title-form-dark);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelLow.light {
  color: var(--color-dark-primary);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelLow.violet {
  color: var(--color-dark-primary);
  font-size: 12px;
}
.checkboxLabelMedium {
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-bottom: 5px;
}

.input[type='radio'] + .checkboxLabelMedium:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-label-medium);
  border-radius: 50%;
  background-color: var(--color-label-medium);
}

.input[type='radio']:checked + .checkboxLabelMedium:before {
  background-color: var(--background-form-dark);
  border-color: var(--color-label-medium);
}

.input[type='radio']:checked + .checkboxLabelMedium:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-label-medium);
}
.input[type='radio']:checked + .checkboxLabelMedium {
  color: white;
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelMedium.dark {
  color: var(--color-title-form-dark);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelMedium.light {
  color: var(--color-dark-primary);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelMedium.violet {
  color: var(--color-dark-primary);
  font-size: 12px;
}
.checkboxLabelHigh {
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-bottom: 5px;
}

.input[type='radio'] + .checkboxLabelHigh:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-label-high);
  border-radius: 50%;
  background-color: var(--color-label-high);
}

.input[type='radio']:checked + .checkboxLabelHigh:before {
  background-color: var(--background-form-dark);
  border-color: var(--color-label-high);
}

.input[type='radio']:checked + .checkboxLabelHigh:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-label-high);
}

.input[type='radio']:checked + .checkboxLabelHigh {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
}

.input[type='radio']:checked + .checkboxLabelHigh.dark {
  color: var(--color-title-form-dark);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelHigh.light {
  color: var(--color-dark-primary);
  font-size: 12px;
}

.input[type='radio']:checked + .checkboxLabelHigh.violet {
  color: var(--color-dark-primary);
  font-size: 12px;
}

@media (min-width: 320px) {
  .input[type='radio']:checked + .checkboxLabelWithout:after {
    left: 3px;
    top: 2px;
    width: 10px;
    height: 9px;
  }
  .input[type='radio']:checked + .checkboxLabelLow:after {
    left: 3px;
    top: 2px;
    width: 10px;
    height: 9px;
  }
  .input[type='radio']:checked + .checkboxLabelMedium:after {
    left: 3px;
    top: 2px;
    width: 10px;
    height: 9px;
  }
  .input[type='radio']:checked + .checkboxLabelHigh:after {
    left: 3px;
    top: 2px;
    width: 10px;
    height: 9px;
  }
}
