.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-dark-text-primary),
    var(--color-dark-accent)
  );
  color: var(--color-dark-primary);
}

.title {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 40px;
}

.link {
  color: var(--color-dark-primary);
  padding: 10px 20px;
  background-color: var(--color-dark-btn);
  border-radius: 10px;
  font-weight: 500;
}

.link:hover {
  background-color: var(--color-dark-btn-hover);
}
.containerImg {
  position: relative;
  display: flex;
  justify-content: center;
}
.img {
  width: 450px;
  height: 450px;
}

.error {
  position: absolute;
  top: 25px;
  right: 155px;
  font-weight: var(--font-weight-semibold);
  font-size: 60px;
  color: var(--color-light-input-text);
}
.errorCode {
  position: absolute;
  font-weight: var(--font-weight-semibold);
  font-size: 60px;
  color: var(--color-light-input-text);
}
@media (min-width: 320px) {
  .title {
    font-size: 12px;
  }
  .containerImg {
    width: 300px;
  }
  .img {
    width: 300px;
    height: 300px;
  }
  .error {
    right: 85px;
  }
  .errorCode {
    top: 220px;
    right: 100px;
  }
}

@media (min-width: 375px) {
  .title {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
  }
  .containerImg {
    width: 450px;
  }
  .error {
    right: 155px;
  }
  .errorCode {
    top: 220px;
    right: 170px;
  }
}
