.cont {
}

.list {
  width: 100%;
  max-height: calc(2 * 61px + 3px);
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 3px;
  scroll-behavior: smooth;
  overflow-y: auto;
  direction: rtl;
}

.list::-webkit-scrollbar {
  width: 7px;
}

.list::-webkit-scrollbar-track {
  /* background: #bedbb0; */
  background: #000000;
}

.list::-webkit-scrollbar-thumb {
  background-color: #bedbb0;
  border-radius: 7px;
  border: 2px solid #000000;
}

.list.light::-webkit-scrollbar-thumb {
  background-color: #bedbb0;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.list.light::-webkit-scrollbar-track {
  background: #ffffff;
}

.list.violet::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 7px;
  border: 2px solid var(--color-violet-background-sidebar);
}

.list.violet::-webkit-scrollbar-track {
  background: none;
}

.item {
  display: flex;
  align-items: center;
  height: 61px;
  flex-shrink: 0;
  margin: 0;
  gap: 8px;
  cursor: pointer;
  width: 100%;
  direction: ltr;
}

.item:hover {
  background-color: #1f1f1f;
}

.item:hover.light {
  background-color: var(--color-light-active-item);
}

.item:hover.violet {
  background-color: rgba(255, 255, 255, 0.25);
}

.icon {
  stroke: rgba(255, 255, 255, 0.5);
  margin-left: 14px;
  /* fill: #000000; */
}

.icon.light {
  stroke: rgba(22, 22, 22, 0.5);
  /* background-color: var(--color-light-primary); */
  fill: var(--color-light-primary);
}

.icon.violet {
  stroke: rgba(255, 255, 255, 0.5);
  /* background-color: var(--color-violet-background-sidebar); */
  fill: var(--color-violet-background-sidebar);
}

.title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.title.light {
  color: rgba(22, 22, 22, 0.5);
}

.title.violet {
  color: rgba(255, 255, 255, 0.5);
}

.iconActive {
  stroke: #ffffff;
  margin-left: 14px;
}

.iconActive.light {
  stroke: var(--color-btn-active-item);
  fill: var(--color-light-active-item);
}

.iconActive.violet {
  stroke: var(--color-light-primary);
  fill: rgba(255, 255, 255, 0);
}

.titleActive {
  color: #ffffff;
  font-size: 14px;
}

.titleActive.light {
  color: var(--color-dark-primary);
}

.titleActive.violet {
  color: var(--color-light-primary);
}

.itemActive {
  display: flex;
  height: 61px;
  /* padding-right: 10px; */
  flex-shrink: 0;
  gap: 8px;
  align-items: center;
  width: 100%;
  background-color: #1f1f1f;
  justify-content: space-between;
  border-right: 4px solid #bedbb0;
  direction: ltr;
}

.itemActive.light {
  background-color: var(--color-light-active-item);
}

.itemActive.violet {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 255, 255, 0.25);
  border-right: 4px solid var(--color-light-primary);
}

.iconTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconBtn {
  stroke: rgba(255, 255, 255, 0.5);
  background-color: #1f1f1f;
  fill: #1f1f1f;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-right: 14px;
}

.iconBtn:hover.violet {
  stroke: var(--color-light-active-item);
  fill: var(--color-light-active-item);
}
.iconBtn:hover.dark {
  stroke: var(--color-light-accent);
  fill: var(--color-light-accent);
}

.iconBtn:hover.light {
  stroke: var(--color-dark-btn-hover);
  fill: var(--color-dark-btn-hover);
}
.iconBtn.light {
  stroke: rgba(22, 22, 22, 0.5);
  background-color: var(--color-light-active-item);
  fill: var(--color-light-active-item);
}

.iconBtn.violet {
  stroke: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  fill: rgba(255, 255, 255, 0);
}

@media only screen and (min-width: 768px) {
  .icon {
    margin-left: 24px;
  }
  .iconActive {
    margin-left: 24px;
  }
  .buttons {
    margin-right: 24px;
  }
}
